<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sagari.service.mapper.LetterMapper">

    <insert id="createMsg" parameterType="com.sagari.service.entity.Letter">
        INSERT INTO letter
        VALUES(null,#{fromId},#{toId},#{msg},#{createTime},#{isDel})
    </insert>

    <select id="getPersonList" resultType="com.sagari.service.entity.Person">
        SELECT to_id,msg,create_time
        FROM letter
        WHERE id IN(
		    SELECT MAX(id)
		    FROM letter
		    WHERE from_id=#{fromId} AND is_del=FALSE
		    GROUP BY to_id)
        ORDER BY create_time DESC
    </select>

    <select id="getLetters" resultType="com.sagari.service.entity.Letter">
        SELECT from_id,to_id,msg,create_time
        FROM letter
        WHERE ((from_id=#{fromId} AND to_id=#{toId}) OR (from_id=#{toId} AND to_id=#{fromId}))
            AND is_del=FALSE
        ORDER BY create_time DESC
    </select>

</mapper>