<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sagari.service.mapper.ArticleMapper">

    <insert id="publishArticle" parameterType="com.sagari.service.entity.Article">
        INSERT INTO article
        VALUES(null,#{title},#{content},#{author},#{commentCount},#{viewCount},
                #{goodCount},#{collectCount},#{tags},#{createTime},#{updateTime},#{isDel})
    </insert>

    <select id="selectArticle" resultType="com.sagari.service.entity.ArticleVO">
        SELECT id,title,content,author,comment_count,view_count,good_count,collect_count,tags,create_time,update_time
        FROM article
        WHERE id=#{id} AND is_del=FALSE
    </select>

    <update id="updateArticle" parameterType="com.sagari.service.entity.Article">
        UPDATE article
        SET title=#{title},content=#{content},tags=#{tags},update_time=#{updateTime}
        WHERE id=#{id} AND author=#{author} AND is_del=FALSE
    </update>

    <update id="deleteArticle">
        UPDATE article
        SET is_del=TRUE
        WHERE id=#{id} AND author=#{author} AND is_del=FALSE
    </update>

    <select id="isExist" resultType="java.lang.Integer">
        SELECT COUNT(id)
        FROM article
        WHERE id=#{id} AND is_del=FALSE
    </select>

    <select id="checkPermissions" resultType="java.lang.Integer">
        SELECT COUNT(id)
        FROM article
        WHERE id=#{articleId} AND author=#{author}
    </select>

    <update id="incrementGood">
        UPDATE article
        SET good_count=good_count+1
        WHERE id=#{articleId}
    </update>

    <update id="decreaseGood">
        UPDATE article
        SET good_count=good_count-1
        WHERE id=#{articleId}
    </update>

    <select id="getAuthor" resultType="java.lang.Integer">
        SELECT author
        FROM article
        WHERE id=#{articleId} AND is_del=FALSE
    </select>

    <select id="getTitle" resultType="com.sagari.service.entity.TitleVO">
        SELECT id,title
        FROM article
        WHERE is_del=FALSE AND id IN
        <foreach collection="ids" item="item" index="index" open="(" separator="," close=")">#{item}</foreach>
    </select>

    <update id="incrementComment">
        UPDATE article
        SET comment_count=comment_count+1
        WHERE id=#{articleId}
    </update>

    <update id="decreaseComment">
        UPDATE article
        SET comment_count=comment_count-1
        WHERE id=#{articleId}
    </update>

    <update id="incrementView">
        UPDATE article
        SET view_count=view_count+1
        WHERE id=#{articleId}
    </update>

    <update id="incrementCollect">
        UPDATE article
        SET collect_count=collect_count+1
        WHERE id=#{articleId}
    </update>

    <update id="decreaseCollect">
        UPDATE article
        SET collect_count=collect_count-1
        WHERE id=#{articleId}
    </update>

    <update id="incrementCollectN" parameterType="java.util.List">
        UPDATE article
        SET collect_count=collect_count+1
        WHERE is_del=FALSE AND id IN
        <foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="decreaseCollectN" parameterType="java.util.List">
        UPDATE article
        SET collect_count=collect_count-1
        WHERE is_del=FALSE AND id IN
        <foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="selectArticleList" resultType="com.sagari.service.entity.Article">
        SELECT id,title,LEFT(content,300) AS content,author,comment_count,view_count,good_count,collect_count,create_time
        FROM article
        WHERE is_del=FALSE AND id IN
        <foreach collection="articleIds" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getArticleTags" resultType="java.lang.String">
        SELECT tags
        FROM article
        WHERE is_del=FALSE AND id=#{id}
    </select>

    <select id="getArticle" resultType="com.sagari.service.entity.ArticleVO">
        SELECT id,title,author,comment_count,view_count,good_count,collect_count,create_time,is_del
        FROM article
        WHERE author=#{author}
        ORDER BY create_time DESC
    </select>

    <select id="getArticleNotDel" resultType="com.sagari.service.entity.ArticleVO">
        SELECT id,title,author,comment_count,view_count,good_count,collect_count,create_time,is_del
        FROM article
        WHERE is_del=FALSE AND author=#{author}
        ORDER BY create_time DESC
    </select>

    <select id="getArticleInRecycle" resultType="com.sagari.service.entity.ArticleVO">
        SELECT id,title,author,comment_count,view_count,good_count,collect_count,create_time,is_del
        FROM article
        WHERE is_del=TRUE AND author=#{author}
        ORDER BY create_time DESC
    </select>

    <delete id="delCompArticle">
        DELETE FROM article
        WHERE id=#{id} AND author=#{author}
    </delete>

    <insert id="createDelCompRecord" parameterType="com.sagari.service.entity.ArticleVO">
        INSERT INTO article_del_comp
        VALUES(null,#{id},#{title},#{content},#{author},#{commentCount},#{viewCount},#{goodCount},
                #{collectCount},#{tags},#{createTime})
    </insert>

    <update id="restoreArticle">
        UPDATE article
        SET is_del=FALSE,update_time=#{updateTime}
        WHERE id=#{id} AND author=#{author}
    </update>

    <select id="getArticleByAuthor" resultType="com.sagari.service.entity.ArticleVO">
        SELECT id,title,LEFT(content,300) AS content,author,comment_count,view_count,good_count,collect_count,create_time
        FROM article
        WHERE author=#{author} AND is_del=FALSE
        ORDER BY create_time DESC
    </select>
</mapper>