<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sagari.service.mapper.NoticeCommentMapper">

    <select id="getNotice" resultType="com.sagari.service.entity.NoticeCommentVO">
        SELECT id,from_id,to_id,type,content_id,target_id,article_id,create_time,is_read
        FROM notice_comment
        WHERE to_id=#{userId} AND is_del=FALSE
        ORDER BY update_time DESC
    </select>

    <insert id="createNotice" parameterType="com.sagari.service.entity.NoticeComment">
        INSERT INTO notice_comment
        VALUES(null,#{fromId},#{toId},#{type},#{contentId},#{targetId},
            #{articleId},#{createTime},#{updateTime},#{isRead},#{isDel})
    </insert>

    <update id="markReadNotice">
        UPDATE notice_comment
        SET is_read=TRUE,update_time=#{updateTime}
        WHERE to_id=#{userId} AND is_del=FALSE AND id IN
        <foreach collection="ids" item="item" index="index" open="(" separator="," close=")">#{item}</foreach>
    </update>

    <update id="deleteNotice">
        UPDATE notice_comment
        SET is_read=TRUE,is_del=TRUE,update_time=#{updateTime}
        WHERE to_id=#{userId} AND is_del=FALSE AND id IN
        <foreach collection="ids" item="item" index="index" open="(" separator="," close=")">#{item}</foreach>
    </update>

    <update id="markReadNoticeAll">
        UPDATE notice_comment
        SET is_read=TRUE,update_time=#{updateTime}
        WHERE to_id=#{userId} AND is_del=FALSE
    </update>

    <update id="deleteNoticeAll">
        UPDATE notice_comment
        SET is_read=TRUE,is_del=TRUE,update_time=#{updateTime}
        WHERE to_id=#{userId} AND is_del=FALSE
    </update>

    <select id="unreadNoticeCount" resultType="java.lang.Integer">
        SELECT COUNT(id)
        FROM notice_comment
        WHERE to_id=#{userId} AND is_read=FALSE AND is_del=FALSE
    </select>

</mapper>