<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sagari.service.mapper.SignInHistoryMapper">

    <insert id="insertRecord" parameterType="com.sagari.service.entity.SignIn">
        INSERT INTO signin_history
        VALUES(null,#{userId},#{type},#{device},#{browser},#{system},#{ip},#{time})
    </insert>

    <select id="getHistory" resultType="com.sagari.service.entity.SignIn">
        SELECT *
        FROM signin_history
        WHERE user_id=#{userId}
        ORDER BY time DESC
    </select>

</mapper>