<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sagari.service.mapper.UserMapper">

    <select id="getSimpleUserByList" parameterType="java.util.List" resultType="com.sagari.service.entity.User">
        SELECT id,username,avatar,article_count,follow_count,fans_count
        FROM `user`
        WHERE
        id IN<foreach collection="list" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
    </select>

    <update id="incrementFollowCountBatch">
        UPDATE `user`
        SET follow_count=follow_count+1
        WHERE id IN
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="decreaseFollowCountBatch">
        UPDATE `user`
        SET follow_count=follow_count-1
        WHERE id IN
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="incrementFansCountBatch">
        UPDATE `user`
        SET fans_count=fans_count+1
        WHERE id IN
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="decreaseFansCountBatch">
        UPDATE `user`
        SET fans_count=fans_count-1
        WHERE id IN
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

</mapper>